body {
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding:0px 215px;
    background-color: #1F2837;
    align-items: center;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 10px;
}

.hero {
    display: flex;
    background-color: #1F2837;
    padding: 0px 215px;
    padding: 125px 215px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px 0px;
}

.left {
    width: 50%;
    padding-right: 40px;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 5px;
    margin-right: 10px;
}

.img-placeholder {
    display: flex;
    width: 530px;
    height: 230px;
    background-color: #6C747D;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 125px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    border-radius: 8px;
    margin-top: 5px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 215px;

}

h2 {
    font-size: 32px;
}

.random-items {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    align-items: center;
    
}

.frame {
    width: 130px;
    height: 130px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 12px;
    margin: 0px 0px;

}

.item p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 215px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote p {
    margin: 0px 0px;
}

.author {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}